<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/notes.css">
    <title>Swift Notes</title>
</head>
<body>
    <section class="header">
        <h1>Swift Notes</h1>
        <div class="icons">
         <span id="save-icon"> <i class="fas fa-save"></i></span>
         <span id="plus-icon"><i class="fas fa-plus"></i></span>
        </div>
    </section>

    <section class="container">
      <div class="note-storage">

        <% for (let i = 0; i < notes.length; i++) { %>
          <ul class="note" data-note-json='<%= JSON.stringify(notes[i]) %>'>
            <li><%= notes[i].title %>
              <a href="/delete/<%= i %>" class="delete-button">
                <i class="fas fa-trash"></i>
              </a>
            </li>
          </ul>
        <% } %>
      </div>
      <form action="/add" method="post" id="noteForm">
        <div class="notes">
          <input type="text" name="title" placeholder="Title" id="titleInput">
            <textarea name="note" cols="30" rows="10" placeholder="Type Here" id="noteInput"></textarea>
        </div>
    </form>
</section>
</body>
<script src="/components.js"></script>
</html>