* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header  {
    padding: 10px 0 0 10px;
    background-color: #eea849;
    border-bottom: 1px solid #8A2BE2;
    font-family: 'Fredericka the Great', cursive;

}

.container {
    display: flex;
    justify-content: start;
    margin-top: 2em;
}

.container .note-storage {
border-right:  2px solid gray;
width: 30%;
}

.container .note {
    margin-left: 10px;
}


.container .notes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2em;
    
}

.container .notes input {
    border: none;
    padding: 16px;
}

.container .notes textarea {
    border: none;
}


input {
    font-size: 2.5em;
}

textarea {
    font-size: 1.5em;
}