* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header  {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 10px;
    background-color: #eea849;
    border-bottom: 1px solid #8A2BE2;
    font-family: 'Fredericka the Great', cursive;
}

.header .fas {
    margin: 10px;
    font-size: 30px;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.icons {
    display: flex;
}

.container {
    display: flex;
    justify-content: start;
    margin-top: 2em;
}

.container .note-storage {
border-right:  2px solid gray;
width: 30%;
}

.container .note {
    margin-left: 10px;
}


.container .notes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2em;
    
}

.container .notes input {
    border: none;
    padding: 16px;
}

.container .notes textarea {
    border: none;
}

.container a {
    color: red;
    margin-right: 10px;
}

.container ul {
    display: flex;
    justify-content: space-between
}

.container li {
    margin: 10px 0;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    width: 100%;
}

input {
    font-size: 2.5em;
}

textarea {
    font-size: 1.5em;
}
